.hero {
  display: flex;
  justify-content: space-between;
}

.blur__h {
  width: 22rem;
  height: 30rem;
  left: 0;
}

.left__h {
  padding: 1.5rem 2rem 2rem 2rem;
  flex: 3;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.best__ad {
  margin-top: 4rem;
  background-color: #363d42;
  border-radius: 4rem;
  width: fit-content;
  padding: 20px 13px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.best__ad > span {
  z-index: 2;
}

.best__ad > div {
  position: absolute;
  background-color: var(--orange);
  width: 5.4rem;
  height: 80%;
  left: 8px;
  border-radius: 3rem;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: bold;
  color: #fff;
  text-overflow: inherit;
}

.hero__text > div:nth-child(3) {
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
}

.figures {
  display: flex;
  gap: 2rem;
}

.figures > div {
  display: flex;
  flex-direction: column;
}

.figures > div > span:nth-of-type(1) {
  color: #ffffff;
  font-size: 2rem;
}

.figures > div > span:nth-of-type(2) {
  color: var(--gray);
  text-transform: uppercase;
}

.hero__btn {
  display: flex;
  gap: 1rem;
  font-weight: normal;
  font-size: 0.9rem;
}

.hero__btn > :nth-child(1) {
  color: #fff;
  background-color: var(--orange);
  width: 8rem;
}

.hero__btn > :nth-child(2) {
  color: #fff;
  background-color: transparent;
  width: 8rem;
  border: 2px solid var(--orange);
}

.right__h {
  flex: 1;
  position: relative;
  background-color: var(--orange);
}

.right__h > .btn {
  position: absolute;
  right: 3rem;
  top: 2rem;
  color: #000;
}

.heart__rate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--darkGray);
  padding: 1rem;
  align-items: start;
  border-radius: 5px;
  position: absolute;
  right: 4rem;
  top: 7rem;
  width: fit-content;
}

.heart__rate > img {
  width: 2rem;
}

.heart__rate > :nth-child(2) {
  color: var(--gray);
}

.heart__rate > :nth-child(3) {
  color: #fff;
  font-size: 1.5rem;
}

.hero__img {
  position: absolute;
  top: 10rem;
  right: 8rem;
  width: 23rem;
  z-index: 2;
}

.hero__img__back {
  position: absolute;
  top: 4rem;
  right: 20rem;
  width: 15rem;
  z-index: -1;
}

.calories {
  display: flex;
  gap: 2rem;
  background-color: var(--caloryCard);
  border-radius: 5px;
  padding: 1rem;
  width: fit-content;
  position: absolute;
  top: 32rem;
  right: 28rem;
}

.calories img {
  width: 3rem;
}

.calories > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calories > div > :nth-child(1) {
  color: var(--gray);
}

.calories > div > :nth-child(2) {
  color: #fff;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .blur__h {
    width: 14rem;
  }

  .best__ad {
    margin-top: 0;
    font-size: small;
    align-self: center;
    transform: scale(0.9);
  }

  .hero__text {
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }

  .hero__text > div:nth-child(3) {
    font-size: small;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
  }

  .hero__btn {
    justify-content: center;
  }

  .figures > div > span:nth-child(1) {
    font-size: large;
  }

  .figures > div > span:nth-child(2) {
    font-size: small;
  }

  .right__h {
    position: relative;
    background: none;
  }

  .heart__rate {
    left: 1rem;
    top: 2rem;
  }

  .calories {
    position: relative;
    top: 5rem;
    left: 2rem;
  }

  .calories > img {
    width: 2rem;
  }

  .calories > div > :nth-child(2) {
    color: #fff;
    font-size: 1rem;
  }

  .hero__img {
    position: relative;
    width: 15rem;
    left: 7rem;
    top: 4rem;
    align-self: center;
  }

  .hero__img__back {
    width: 15rem;
    left: 2rem;
    top: 0rem;
  }
}
